.cart-chat >p{
    background-color: lightgray;
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 20px;
    text-align: center;
}
[data-bs-theme='dark'] .cart-chat >p{
    background-color: rgba(255, 255, 255, 0.1);
}
.logo-separateur{
    margin-left: 150px;
    margin-top: 14px;
}