.cart-chat >p{
    background-color: lightgray;
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 20px;
    text-align: center;
}
[data-bs-theme='dark'] .cart-chat >p{
    background-color: rgba(255, 255, 255, 0.1);
}
.logo-separateur{
    margin-left: 150px;
    margin-top: 14px;
}
.hidden{
    display:hidden;
}

.fs-26{
    font-size: 19px !important;
}

.point{
    width:16px;
    height: 16px;
    background-color: white !important;
    position: absolute;
    bottom: -2px;
    right: 0px;
    border: 1px dashed var(--primary-dark);
}



.circle{
    width:60px;
    height: 60px;
    border:3px solid var(--primary-dark);
    position: relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.chat-sidebar {
  width: 300px;
  height: 100%;
  background: white;
  transition: transform 0.3s ease;
}

/* Desktop */
@media (min-width: 768px) {
  .chat-sidebar {
    position: relative;
    transform: translateX(0);
  }
}

/* Mobile */
@media (max-width: 767px) {
  .chat-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transform: translateX(-100%);
  }

  .chat-sidebar.show {
    transform: translateX(0);
  }
}

/* Overlay sombre */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 999;
}