.card-body-profil{
    background-color: rgba(173, 216, 230, 0.247) !important;
    border: 1px solid transparent !important;
    border-radius: 16px !important;
    padding: 10px !important;
    width: 100% !important;
    text-decoration: none;
    margin-bottom: 10px;
}
.card-img{
    position: relative;
     width:100%;
    margin: auto;
}
.card-img > img{
  width: 120px;
  height: 120px;
  object-fit: cover;
  display: block;
}
.card-img > label>span{
            position: absolute;
            bottom: 18px;
            background-color: white;
            border-radius: 50%;
            padding: 5px;
            cursor: pointer;
            box-shadow: 0 2px 4px rgba(0,0,0,0.2);
            margin-left: 10%;
}
.carte_afrique{
  background-color: white !important;
}