.card-search{
    width: 100%;
    overflow: hidden;
    border:1px solid transparent !important;
    border-radius: 12px !important;
}
.card-search .infra{
    font-size:13px !important;
}
.locate{
    font-size: 14px;
    color: var(--primary-color);
}
.span-note{
    height: 26px;
}
.text-color{
    color: var(--primary-dark);
}
.text-intro{
    text-align: justify;
}
