.contour-chat {
    position: fixed;
    bottom: 20px;    
    right: 20px;     
    z-index: 1000;   
}

.contour-chat img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid green; 
    object-fit: cover;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgb(0,0,0.3); 
    transition: transform 0.3s ease; 
}
.contour-chat img:hover {
    transform: scale(1.1);
}