.logo-image{
    height: 40px;
     width: auto
}

.custom-navbar {
    border: none !important; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

[data-bs-theme="light"] .custom-navbar, .navbar-light {
    background-color: #ffffff !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); 
}

[data-bs-theme="dark"] .custom-navbar, .navbar-dark {
    background-color: #1a1d21 !important; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}