.side-bar{
    width: 260px;
    min-height: 100vh;
}
[data-bs-theme="dark"] .side-bar .nav-link{
    color: #ffffff !important;
}

[data-bs-theme="dark"] .side-bar .nav-link:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.side-bar .nav-link:hover{
    background-color: rgba(173, 216, 230, 0.247) !important;
}