@use './components/navbar';
@use './settings.scss';
@use './components/testimonials';
@use './components/african';
@use './components/footer';
@use './components/sidebar';
@use './components/diagnostic';
@use './components/ressources';
@use './components/video-card';
@use 'components/video-line';
@use './components/login-hero';
@use './components/chatbot';
@use './components/logochat';
@use './components/infraside';
@use './components/generalite';
@use './components/cardCountry';
@use './components/infra.profil';
@use './components/form_module';